.profile{
  border: 1px solid rgb(255, 0, 98);
  width: 280px;
  margin: 0 auto;
  display: flex;
  background-color: rgb(193, 186, 221);
   }

.item{
  list-style: none;
  width: 200px;
  text-align: center;
}

.itemList{
   display: flex;
   justify-content: space-between;
   list-style: none;
   margin: 10px;
   margin-left: 10px;
   border:outset; background-color: rgb(186, 200, 221);
}


.itemListAvatar{
  margin-left: 30px;
  width: 70px;
  height: 70px;
}

.itemListName{
  margin: auto;
  font-size: 22px;
  font-weight: 500;
  }

  
  .offline{
    display: block; 
    position: relative;
    cursor: pointer; 
  }
  .online{
    display: block; 
    position: relative;
    cursor: pointer; 
  }
.offline:after {
  content: "";
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 40%;
  left: 10px;
}
.online:after {
  content: "";
  background-color: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 40%;
  left: 10px;
}
